<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jms="http://www.springframework.org/schema/jms"
       xmlns:amq="http://activemq.apache.org/schema/core"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/jms http://www.springframework.org/schema/jms/spring-jms.xsd
       http://activemq.apache.org/schema/core http://activemq.apache.org/schema/core/activemq-core.xsd">

       <amq:connectionFactory id="mqConnectionFactory" brokerURL="tcp://localhost:61616"/>

       <amq:topic id="topic1" physicalName="chattopic"/>



       <!-- Pooled ActiveMQ connection factory -->
       <bean id="connectionFactory" class="org.apache.activemq.pool.PooledConnectionFactory">
              <constructor-arg value="failover:(tcp://localhost:61616)"/>
       </bean>

       <!-- The spring JsmTemplate to send message -->
       <bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
              <constructor-arg ref="connectionFactory"/>
              <property name="sessionTransacted" value="false"/>
              <property name="receiveTimeout" value="5000"/>
       </bean>

       <bean id="jmsTemplate2" class="org.springframework.jms.core.JmsTemplate">
              <property name="connectionFactory" ref="mqConnectionFactory"/>
       </bean>

       <bean id="basicJMSChat" class="org.sergei.jmstraining.spring.BasicJmsChat">
              <property name="jmsTemplate" ref="jmsTemplate2"/>
              <property name="chatTopic" ref="topic1"/>
       </bean>
       <!-- Example of MDP -->
       <bean id="poiMessageListenerContainer" class="org.springframework.jms.listener.DefaultMessageListenerContainer">
              <property name="connectionFactory" ref="mqConnectionFactory"/>
              <property name="destination" ref="topic1"/>
              <property name="messageListener" ref="basicJMSChat"/>
              <property name="concurrentConsumers" value="1"/>
       </bean>

</beans>